/* start hearder section  */




.top-nav 
{
    background-color: #FE3C47 !important;
    line-height: 42px;
  
}
.w-80
{
    width: 80% !important;

}
.top-nav a
{
    color: white !important;
}
.top-nav i
{
    padding: 5px;
    color: black;
    background-color: white;
    font-size: 14px;
    margin-left: 5px;
}
.top-nav i:hover
{
    color: #FE3C47;
  
}

/* ---------------------------------------------- second nav  */

.sticky
{
    position: fixed;
    top: 0;
    width: 100% !important;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 55;
    background-color: white !important;
}
.second-nav
{
    /* line-height: 60px; */
}
.second-nav a
{ 
    color: black !important;
    font-weight: bold;
    padding-left: 20px;
    margin-left: 10px;
 

}

/* ---------------------------------------------- header  */

.header
{
    background-image: url(../images/home_1_slider_1.jpg);
    background-size: 100% 100%;
    height: 90vh;
}
.header-section
{
   
    width: 75%;
    background-color: rgba(238,238,238,0.9);
    border: 5px solid;
    border-image-source : linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(220, 220, 224) 27%, rgb(228, 236, 238) 100%);
    border-image-slice : 1;
}
.header-section h2
{
    letter-spacing: 0.03em;
    position: relative;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    margin: 24px 0 0;
    color: #1A1A1A;
    text-transform: uppercase;
}
.header-section h3
{
    font-family: 'Source Sans Pro', sans-serif;
    color: #1A1A1A;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    line-height: 50px;
    margin: 16px 0 0;
}
.header-section button
{
    font-size: 18px;
    margin-top: 40px;
    background: #FE3C47;
    border: 2px solid #FE3C47;
    color: #FFFFFF;
    line-height: 32px;
    padding: 10px 24px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.03em;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.header-section button:hover
{
    background: #fe0917;
    border: 2px solid #FE3C47;
    color: #FFFFFF;
}



@media (min-width:0px) and (max-width:700px)
{
  
    .header-section h2  {
        font-size: 20px;
        line-height: 20px;
    }
    .header-section h3  {
        font-size: 12px;
        line-height: 15px;
    }

}

@media (min-width:700px) and (max-width:1300px)
{
    .header-section h2  {
        font-size: 30px;
        line-height: 40px;
    }
    .header-section h3  {
        font-size: 19px;
        line-height: 30px;
    }
    
    
    
}



.caption
{
    background-color: #F8F9FA;
}

/* start donation_process section  */

.donation_process h1
{
    text-align: center;
    margin-top: 40px;
}

.donation_process .line
{
    background-color: red;
    width:170px;
    height: 2.5px;
    margin: auto;
    margin-bottom:20px ;
}

.donation_process .img-caption
{
    background-color: #F8F9FA;
    position: relative;
}

.donation_process .number 
{
    background-color: red;
    opacity: 0.8;
    padding:3px 20px;
    position: absolute;
    right:0;
    top: -70px;
}

.donation_process .number  p
{
 color: white;
 font-size: 2rem;
 font-weight: bolder;
}

/* end donation_process section  */

/* start counter section  */

.counter-section
{

    background-color: #f5f5f5;
    padding: 12rem 0;
    text-align: center;
    background-image: url(../images/counter_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.counter-section .overlay
{
    background-color: rgb(0, 0, 0,0.9);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



.counter-section .card
{
    margin-top: 100px;
    padding:40px 0px;
}


.counter-section .card i
{
    font-size: 25px;
    margin-bottom: 15px;
}


.counter-section .card p
{
    font-size: 42px;
    color: #FE3C47;
    font-weight: 600;
}





/* end counter section */




/* start APPOINTMENT section  */

.APPOINTMENT-section h3
{
    margin-top: 40px;
    margin-bottom: 0;
    padding: 35px 0;
    text-align: center;
    color: white;
    background-color:#FE3C47 ;
}

.APPOINTMENT-section form
{
  background-color: gray;
}


.APPOINTMENT-section input , textarea
{
    
   border: 1px solid #CED4DA;
   width: 80%;
   margin-left: 40px;
   border-radius: 0.2rem;
   padding: 0.5rem;
   resize: none;
}

.APPOINTMENT-section button
{
    margin-left: 180px;
    background-color:#FE3C47 ;
}


/* end APPOINTMENT section  */



/* --------------------------------------------- -  the start of footer */

.footer
{
    background-color: black;
    margin-top: 50px;
    color: white ;
}


.line
{
    height: 0.1px;
    background-color: gainsboro;
}
.setMailInput
{
    background: #444444 !important;
    border: 0 solid #CCCCCC !important;
    border-radius: 0 !important;
    height: 48px !important;
    color: #FFFFFF !important;
    width: 70% !important;
}
.subBtn
{
    background: #FE3C47;
    border: 0 solid #CCCCCC;
    color: #FFFFFF;
    height: 42px;
    letter-spacing: 2px;
    margin-top: 6px;
    padding: 0 18px;
    text-transform: uppercase;
}
.contact p
{
    margin-left: 10px;
    display: inline;
    font-size: 20px;
    font-weight: lighter;
    
}
.contact i
{
    color: red;
    font-size: 25px;
    padding: 20px;
    
}
.contact p:hover
{
    color: red;
}
/* --------------------------------------------- -  the end of footer */

